

h1{
   border-bottom:5px solid green;
   padding: 20px
   margin-bottom:0;
   font-family: 'Gaegu', cursive;
}
h1 a{
     text-decoration:none;
}
ol{
   border-right:10px solid red;
   margin-top:0;
   padding-top:10px;
   font-family: 'Knewave', cursive;
}
#container{
           display:grid;
           grid-template-columns:140px 1fr;
}
